@using Agency.Feature.Portfolio.Models;
@using Sitecore.Mvc;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<PortfolioItem>

<div class="col-md-4 col-sm-6 portfolio-item">
    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
            </div>
        </div>
        <img class="img-fluid" src="@(Model.Thumbnail == null ? string.Empty : Model.Thumbnail.Src)" alt="">
    </a>
    <div class="portfolio-caption">
        <h4>@Model.Client</h4>
        <p class="text-muted">@Model.Category</p>
    </div>
</div>
